.wrapper-body
  .spacer-left

  .main-content#top-of-page
    %section#my-workshops-title
      %h4.text-center= t('home.my.workshops_title')
      .text-center#back-to-dashboard
        = render(Title::UserDashboardLinkComponent.new(user: current_user))
    = render(partial: 'user_workshop_grid', locals: { grid: @grid, grid_filter_params: @grid_filter_params })

  .spacer-right
