.wrapper-body
  .spacer-left

  .main-content#top-of-page
    %section#my-workshops-title
      = render(Title::BreadCrumbLinkComponent.new(title: t('home.my.workshops_title'),
               css_icon: 'group', parent_title: t('home.my.dashboard_name'),
               parent_link: home_dashboard_path))
      .text-center= render(Title::SwimmerShowLinkComponent.new(swimmer: @swimmer))

      .container
        .alert.alert-info.alert-dismissible.fade.show{ role: 'alert' }
          %button.close{ 'aria-label' => 'Close', 'data-dismiss' => 'alert', type: 'button' }
            %span{ 'aria-hidden' => 'true' } ×
          %small
            %i= t('user_workshops.how_to_msg')

    = render(partial: 'user_workshop_grid', locals: { grid: @grid, grid_filter_params: @grid_filter_params })

  .spacer-right
