.shadow-box
  = render('goggles/shared_mailer_title')
  - if @user_name.present?
    %p.centered
      = t('devise.mailer.email_changed.greeting', recipient: @user_name.titleize)
      &nbsp;٩( ▀ ͜͞ʖ▀)۶
  %br/
  = @content_body.html_safe
