.wrapper-body
  .spacer-left

  .main-content#top-of-page
    %section#all-meetings-title
      %h4.text-center
        %small
          = render(Title::TeamShowLinkComponent.new(team: @team))
          %i.text-muted
            &nbsp;
            %i.fa.fa-angle-right{ 'aria-hidden': 'true' }
            &nbsp;
            %span.text-dark
              %i.fa.fa-trophy{ 'aria-hidden': 'true' }
              = t('teams.dashboard.all_meetings')

    = render(partial: 'meeting_grid', locals: { grid: @grid, grid_filter_params: @grid_filter_params })

  .spacer-right
