.wrapper-body
  .spacer-left

  .main-content#top-of-page
    = render(partial: 'meeting_header', locals: { meeting: @meeting })
    = render(partial: 'meeting_navs', locals: { meeting: @meeting, active_tab: 'swimmer' })

    %section#meeting-swimmer-results
      = render(partial: 'swimmer_results_header', locals: { meeting: @meeting, swimmer: @swimmer,
               mir_list: @mir_list, managed_team_ids: @managed_team_ids,
               current_user_is_admin: @current_user_is_admin })

  .spacer-right
