# This is a sample for production only: customize it with your values.

# For local builds, you'll need to set these in your '.env' file:
MYSQL_ROOT_PASSWORD=<YOUR_SUPER_SECRET_MYSQL_PWD_HERE>

# Set this to the desired versioning tag for localhost. For example:
# ex: 0.8.22 or 0.8.22.feature-branch (e.g.: "0.9.00.rails-8.1")
TAG=<semantic_version>

# (For the Docker Registry builds, the environment settings of the
#  autobuilds feature already takes care of these)

# Recentily required when using mariadb:latest:
MARIADB_AUTO_UPGRADE=1
MARIADB_INITDB_SKIP_TZINFO=1

RAILS_ENV=production
NODE_ENV=production
# Recently required if using node > '16.13':
NODE_OPTIONS=--openssl-legacy-provider
