# For local builds, you'll need to set these in your '.env' file:
MYSQL_ROOT_PASSWORD=<YOUR_SUPER_SECRET_MYSQL_PWD_HERE>

# (For the Docker Registry builds, the environment settings of the
#  autobuilds feature already takes care of these)
