# Ignore bundler config.
/.bundle
/vendor/bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
*.rbc
capybara-*.html
/db/*.sqlite3
/db/*.sqlite3-journal
/db/*.sqlite3-[0-9]*
/public/system
/coverage/
/spec/tmp
*.orig
rerun.txt
pickle-email-*.html

# Ignore pidfiles, but keep the directory.
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# Ignore uploaded files in development.
/storage/*
!/storage/.keep
/db/dump/*
!/db/dump/.keep
/coverage/*
# if using bower-rails ignore default bower_components path bower.json files
/vendor/assets/bower_components
*.bowerrc
bower.json
# Ignore pow environment settings
.powenv
# Ignore Byebug command history file.
.byebug_history

# Ignore master key for decrypting credentials and more.
/config/master.key
/config/credentials/*.key
config/database.yml
/config/deploy.rb
/config/deploy/*
# Other sensible files:
.env
send_coverage.sh
# TODO Comment out this rule if you are OK with secrets being uploaded to the repo
/config/initializers/secret_token.rb

# Ignore node_modules & yarn files
/node_modules
/yarn-error.log
node_modules/
yarn-debug.log*
.yarn-integrity

# Ignore precompiled javascript packs
/public/packs
/public/packs-test
/public/assets
/public/dev-assets


# Ignore editors settings
.vscode/*

/config/credentials/production.key

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
