- elements.each do |value, text, checked|
  - id = [form.object_name, filter.name, value].join('_').underscore
  = form.label(filter.name, options.merge(for: id)) do
    = form.check_box(filter.name, { multiple: true, id: id, checked: checked,
                     include_hidden: false }, value.to_s, nil)
    = text
