- if @social_urls.facebook.present?
  = link_to(content_tag(:i, '', id: 'social-fb-link', class: 'fa fa-facebook'), @social_urls.facebook)
  &nbsp;
- if @social_urls.linkedin.present?
  = link_to(content_tag(:i, '', id: 'social-linkedin-link', class: 'fa fa-linkedin'), @social_urls.linkedin)
  &nbsp;
- if @social_urls.twitter.present?
  = link_to(content_tag(:i, '', id: 'social-twitter-link', class: 'fa fa-twitter'), @social_urls.twitter)
