- if @social_urls.facebook.present?
  = link_to(tag.i('', class: 'fa fa-facebook'), @social_urls.facebook, id: 'social-fb-link')
  &nbsp;
- if @social_urls.linkedin.present?
  = link_to(tag.i('', class: 'fa fa-linkedin'), @social_urls.linkedin, id: 'social-linkedin-link')
  &nbsp;
- if @social_urls.twitter.present?
  = link_to(tag.i('', class: 'fa fa-twitter'), @social_urls.twitter, id: 'social-twitter-link')
