= render(SearchDecorator.rendering_parameters(swimmers))
= render(SearchDecorator.rendering_parameters(teams))
= render(SearchDecorator.rendering_parameters(meetings))
= render(SearchDecorator.rendering_parameters(swimming_pools))
