= turbo_frame_tag('search-results', class: 'container') do
  = render(
    partial: 'search_results',
    locals: {
      swimmers: swimmers,
      teams: teams,
      meetings: meetings,
      user_workshops: user_workshops,
      swimming_pools: swimming_pools
    }
  )
