%script{ src: 'https://accounts.google.com/gsi/client', async: true, defer: true }
- client_id = Rails.application.credentials.google_sign_in[:client_id]
- redirect_uri = Rails.application.routes.url_helpers.user_google_oauth2_omniauth_authorize_url(host: 'localhost:3000')

#g_id_onload{ 'data-auto_select' => 'true', 'data-client_id' => client_id,
              'data-context' => 'use',
              'data-login_uri' => redirect_uri,
              'data-nonce' => '',
              'data-ux_mode' => 'redirect' }
.g_id_signin{ 'data-logo_alignment' => 'left', 'data-shape' => 'rectangular',
              'data-size' => 'large', 'data-text' => 'continue_with',
              'data-theme' => 'filled_blue', 'data-type' => 'standard' }
