= link_to(relay_laps_edit_modal_path(result_id: @relay_result.id, result_class: @relay_result.class.name.split('::').last),
          id: "lap-req-edit-modal-#{@relay_result.id}", type: 'button',
          class: 'btn btn-sm text-success px-1 lap-edit-btn', role: 'button',
          data: { tooltip: true, turbo_method: :post, turbo_stream: true,
                  controller: 'loading',
                  action: 'click->loading#show turbo:before-fetch-response->loading#hide' },
          title: t('laps.edit_button.tooltip')) do
  %i.fa.fa-pencil-square-o
