:css
  /* Based on: https://github.com/mailchimp/email-blueprints/ */

  /* /\/\/\/\/\/\/\/\/ CLIENT-SPECIFIC STYLES /\/\/\/\/\/\/\/\/ */
  /* Force Outlook to provide a 'view in browser' message: */
  #outlook a { padding: 0; }
  /* Force Hotmail to display emails at full width: */
  .ReadMsgBody { width: 100%; } .ExternalClass { width: 100%; }
  .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font,
  .ExternalClass td, .ExternalClass div { line-height: 100%; } /* Force Hotmail to display normal line spacing */

  /* Prevent WebKit and Windows mobile changing default text sizes: */
  body, table, td, p, a, li,
  blockquote { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

  /* Remove spacing between tables in Outlook 2007 and up */
  table, td { mso-table-lspace: 0pt; mso-table-rspace: 0pt; }
  /* Allow smoother rendering of resized image in Internet Explorer: */
  img{ -ms-interpolation-mode: bicubic; }

  /* /\/\/\/\/\/\/\/\/ RESET STYLES /\/\/\/\/\/\/\/\/ */
  body{ margin: 0; padding: 0; }
  img{ border: 0; height: auto; line-height: 100%; outline: none; text-decoration: none; }
  table{ border-collapse: collapse !important; }
  body, #body-table, #body-cell{ height: 100% !important; margin: 0; padding: 0; width: 100% !important; }

  /* /\/\/\/\/\/\/\/\/ TEMPLATE STYLES /\/\/\/\/\/\/\/\/ */
  /* ========== Page Styles ========== */
  #body-cell { padding: 20px; }
  #template-container { width: 600px; }

  /**
  * Background color
  */
  body, #body-table {
    background-color: #DEE0E2;
  }

  /**
  * Top border
  */
  #body-cell {
    border-top: 1px solid #BBBBBB;
  }

  /**
  * EMail border
  */
  #template-container {
    border-radius: 4px;
    box-shadow: 0 2px 8px rgb(50 50 50 / 33%);
    padding: 1rem !important;
    background-color: #dee2e6;
  }

  h1 {
    color:#202020 !important;
    display:block;
    font-family: Helvetica;
    font-size: 26px;
    font-style: normal;
    font-weight: bold;
    line-height: 100%;
    letter-spacing: normal;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 10px;
    margin-left: 0;
    text-align: center;
  }

  h2 {
    color:#404040 !important;
    display: block;
    font-family: Helvetica;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    line-height: 100%;
    letter-spacing: normal;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 10px;
    margin-left: 0;
    text-align: left;
  }

  h3 {
    color: #606060 !important;
    display: block;
    font-family: Helvetica;
    font-size: 16px;
    font-style: italic;
    font-weight: normal;
    line-height: 100%;
    letter-spacing: normal;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 10px;
    margin-left: 0;
    text-align: left;
  }

  h4 {
    color: #808080 !important;
    display: block;
    font-family: Helvetica;
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
    line-height: 100%;
    letter-spacing: normal;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 10px;
    margin-left: 0;
    text-align: left;
  }

  /* ========== Header Styles ========== */
  /**
  * Background color and borders for the email's header area.
  */
  #template-header {
    background-color: #F4F4F4;
    border-top: 1px solid #FFFFFF;
    border-bottom: 0px;
  }

  /**
  * Header text
  */
  .headerContent {
    color: #505050;
    font-family: Helvetica;
    font-size: 20px;
    font-weight: bold;
    line-height: 100%;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    text-align: left;
    vertical-align: middle;
  }

  /**
  * Header links
  */
  .headerContent a:link, .headerContent a:visited, /* Yahoo! Mail Override */
  .headerContent a .yshortcuts /* Yahoo! Mail Override */ {
    color: #EB4102;
    font-weight: normal;
    text-decoration: underline;
  }

  #headerImage{
    height: auto;
    max-width: 600px;
  }

  /* ========== Body Styles ========== */
  /**
  * Body area: background color and borders
  */
  #template-body{
    background-color: #F4F4F4;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #CCCCCC;
  }

  /**
  * Body area: main content text
  */
  .bodyContent{
    color: #505050;
    font-family: Helvetica;
    font-size: 14px;
    line-height: 150%;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    text-align: left;
  }
  .centered{
    text-align: center;
  }

  /**
  * Body area: links
  */
  .bodyContent a:link, .bodyContent a:visited, /* Yahoo! Mail Override */
  .bodyContent a .yshortcuts /* Yahoo! Mail Override */ {
    color: #EB4102;
    font-weight: normal;
    text-decoration: underline;
  }
  .bodyContent img{
    display: inline;
    height: auto;
    max-width: 560px;
  }

  /* ========== Footer Styles ========== */
  /**
  * Footer area: background color and borders
  */
  #template-footer {
    background-color: #F4F4F4;
    border-top: 1px solid #FFFFFF;
  }

  /**
  * Footer area: content text
  */
  .footer-content {
    color: #808080;
    font-family: Helvetica;
    font-size: 10px;
    line-height: 150%;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    text-align: center;
  }

  /**
  * Footer area: links
  */
  .footer-content a:link, .footer-content a:visited, /* Yahoo! Mail Override */
  .footer-content a .yshortcuts, .footer-content a span /* Yahoo! Mail Override */ {
    color: #606060;
    font-weight: normal;
    text-decoration: underline;
  }

  /* /\/\/\/\/\/\/\/\/ MOBILE STYLES /\/\/\/\/\/\/\/\/ */

  @media only screen and (max-width: 480px) {
    /* /\/\/\/\/\/\/ CLIENT-SPECIFIC MOBILE STYLES /\/\/\/\/\/\/ */

    /* Prevent Webkit platforms from changing default text sizes: */
    body, table, td, p, a, li, blockquote { -webkit-text-size-adjust: none !important; }
    /* Prevent iOS Mail from adding padding to the body: */
    body { width: 100% !important; min-width: 100% !important; }

    /* /\/\/\/\/\/\/ MOBILE RESET STYLES /\/\/\/\/\/\/ */
    #body-cell { padding: 10px !important; }

    /* /\/\/\/\/\/\/ MOBILE TEMPLATE STYLES /\/\/\/\/\/\/ */

    /* ======== Page Styles ======== */
    /**
    * Template width
    * Make the template fluid for portrait or landscape view adaptability.
    * (Set the width to a fixed 300px if it doesn't work well.)
    */
    #template-container {
      max-width: 600px !important;
      width: 100% !important;
    }

    h1 {
      font-size: 24px !important;
      line-height: 100% !important;
    }

    h2 {
      font-size: 20px !important;
      line-height: 100% !important;
    }

    h3 {
      font-size: 18px !important;
      line-height: 100% !important;
    }

    h4 {
      font-size: 16px !important;
      line-height: 100% !important;
    }

    /* ======== Header Styles ======== */
    /**
    * Mobile Styles: header image
    * Make the main header image fluid for portrait or landscape view adaptability,
    * and set the image's original width as the max-width.
    * (If a fluid setting doesn't work, set the image width to half its original size instead.)
    */
    #headerImage {
      height: auto !important;
      max-width: 600px !important;
      width: 100% !important;
    }

    /**
    * Mobile Styles: header text
    * Make the header content text larger in size for better readability on small screens.
    * (Use at least 16px.)
    */
    .headerContent {
      font-size: 20px !important;
      line-height: 125% !important;
    }

    /* ======== Body Styles ======== */
    /**
    * Mobile Styles: body text
    * Make the body content text larger in size for better readability on small screens.
    * (Use at least 16px.)
    */
    .bodyContent {
      font-size: 18px !important;
      line-height: 125% !important;
    }

    /* ======== Footer Styles ======== */
    /**
    * Mobile Styles: footer text
    * Make the body content text larger in size for better readability on small screens.
    */
    .footer-content {
      font-size: 14px !important;
      line-height: 115% !important;
    }
    /* Place footer social and utility links on their own lines, for easier access: */
    .footer-content a { display: block !important; }
  }
