= link_to(content_tag(:i, '', class: 'fa fa-facebook'), 'https://www.facebook.com/MasterGoggles')
&nbsp;
= link_to(content_tag(:i, '', class: 'fa fa-linkedin'), 'https://www.linkedin.com/in/fasar/')
&nbsp;
= link_to(content_tag(:i, '', class: 'fa fa-twitter'), 'https://twitter.com/master_goggles')
