%span.switch-sm.pr-3
  - if remote?
    = link_to('', @remote_url,
      id: trigger_id,
      class: trigger_classes,
      role: 'button',
      title: @title,
      data: trigger_data,
      'aria-expanded' => @expanded,
      'aria-controls' => @target_id,
      'aria-label' => trigger_aria_label)
  - else
    = button_tag('',
      id: trigger_id,
      type: 'button',
      class: trigger_classes,
      role: 'button',
      title: @title,
      data: trigger_data,
      'aria-expanded' => @expanded,
      'aria-controls' => @target_id,
      'aria-label' => trigger_aria_label)
