%thead{ id: dom_id }
  %tr
    %th{ colspan: 4, class: style_classes }
      %b= render(Mprg::LabelComponent.new(meeting_program: @meeting_program))
      &nbsp;
      = link_to('#top-of-page', data: { turbolinks: false }) do
        %i.mt-1.float-right.text-light.fa.fa-arrow-up
