- @mrrs_with_rank.each_with_index do |mrr, index|
  = render(MRR::TableRowComponent.new(mrr:, index:, lap_edit: can_edit_lap?(mrr),
                                      report_mistake: can_report_mistake?(mrr)))
- @mrrs_with_no_rank.each_with_index do |mrr, index|
  = render(MRR::TableRowComponent.new(mrr:, index:, lap_edit: can_edit_lap?(mrr),
                                      report_mistake: can_report_mistake?(mrr)))
