.wrapper-body
  .spacer-left

  .main-content
    .row-fluid.m-5
      %turbo-frame.mr-1#search-box
        = render('goggles/search_box')

    .row-fluid
      .container#search-results

    .row-fluid
      %p &nbsp;
    .row-fluid
      %p &nbsp;

    %section.fixed-bottom#footer
      = render('goggles/main_footer')

  .spacer-right
