.wrapper-body
  .spacer-left

  .main-content#top-of-page
    %section#my-past-meetings-title
      %h4.text-center= t('calendars.title')
      .text-center#back-to-dashboard
        = render(Title::UserDashboardLinkComponent.new(user: current_user))

    - @calendars.each do |calendar|
      .row-fluid
        %p
          %code= calendar.inspect

  .spacer-right
