.wrapper-body
  .spacer-left

  .main-content#top-of-page
    %section#calendars-map-title
      = render(Title::BreadCrumbLinkComponent.new(title: t('calendars.dashboard.starred_title'),
               css_icon: 'calendar', parent_title: t('home.my.dashboard_name'),
               parent_link: home_dashboard_path))

    %section#calendars-map-navs
      .row-fluid.my-2
        %ul.nav.nav-tabs
          %li.nav-item
            = link_to(t('calendars.dashboard.starred_list'), calendars_starred_path, class: 'nav-link')
          %li.nav-item
            .nav-link.active
              = t('calendars.dashboard.starred_map')

    %section.container#calendars-map
      #leaflet-map{ data: { controller: 'map', 'map-target' => 'map',
                    'map-places-list-value' => @map_places&.to_json } }

    %section.text-center.fixed-bottom#footer
      &nbsp;

  .spacer-right
