- relay_result.meeting_relay_swimmers.by_order.each_with_index do |relay_swimmer, swimmer_index|
  = render(partial: 'relay_laps/edit_relay_swimmer_row', locals: { relay_result: relay_result,
           relay_swimmer: relay_swimmer, max_relay_laps: max_relay_laps, swimmer_index: swimmer_index })
