/**
      === Custom fonts: ===
 */
@font-face {
    font-family: 'Saira Stencil One';
    src: url('fonts/SairaStencilOne-Regular.eot');
    src: url('fonts/SairaStencilOne-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/SairaStencilOne-Regular.woff2') format('woff2'),
        url('fonts/SairaStencilOne-Regular.woff') format('woff'),
        url('fonts/SairaStencilOne-Regular.ttf') format('truetype'),
        url('fonts/SairaStencilOne-Regular.svg#SairaStencilOne-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Share Tech Mono';
    src: url('fonts/ShareTechMono-Regular.eot');
    src: url('fonts/ShareTechMono-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/ShareTechMono-Regular.woff2') format('woff2'),
        url('fonts/ShareTechMono-Regular.woff') format('woff'),
        url('fonts/ShareTechMono-Regular.ttf') format('truetype'),
        url('fonts/ShareTechMono-Regular.svg#ShareTechMono-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
