/**
      === DATAGRID customizations ===
*/
th.ordered, td.ordered {
    background-color: #cebca630;
}

th.ordered.asc a.asc {
    font-weight: bold;
    color: #eab000;
}

th.ordered.desc a.desc {
    font-weight: bold;
    color: #eab000;
}

.table thead tr th {
    font-size: 0.8rem;
    font-weight: normal;
}

#data-grid td.rank,
#data-grid td.pool_type,
#data-grid td.meeting_date {
  text-align: center;
}

#data-grid td.timing {
  text-align: right;
}
#data-grid .datagrid-actions {
  padding: 0px;
  text-align: center !important;
}

#data-grid td.team_name, #data-grid td.meeting_date {
  font-size: 0.75rem;
}

#data-grid td.calendar_date {
  font-size: 0.85rem;
  margin-top: 5px;
}

#data-grid td.meeting_name, #data-grid td.calendar_name {
  font-size: 0.90rem;
}

#data-grid td.event-list {
  font-size: 0.65rem;
  margin-top: 0px;
  margin-bottom: 0px;
}

#issues-grid table td.code {
  font-size: 0.80rem;
}
#issues-grid table td.priority {
  font-size: 0.90rem;
  text-align: center !important;
}
#issues-grid table td.status {
  font-size: 0.80rem;
  text-align: center !important;
}
