.bg-light-blue {
  background-color: #dee2e6;
}
.bg-light-green {
  background-color: #e6eae7;
}
.bg-light-yellow {
  background-color: #eeefc9;
}


.shadow-box {
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(50, 50, 50, 0.33);
}

.round-avatar {
  border-radius: 12px;
  height: 24px;
  width: 24px;
}
