.bg-light-blue {
  background-color: #d8ecff;
}
.bg-light-green {
  background-color: #e8ffee;
}
.bg-light-yellow {
  background-color: #feffd6;
}
.bg-light-red {
  background-color: #ffa1a1;
}

.shadow-box {
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(50, 50, 50, 0.33);
}

.round-avatar {
  border-radius: 12px;
  height: 24px;
  width: 24px;
}
