.bg-light-blue {
  background-color: #a9d6ff;
}
.bg-light-cyan {
  background-color: #dbeeff;
}
.bg-light-cyan2 {
  background-color: #e5f1fd;
}
.bg-light-green {
  background-color: #b7e2bb;
}
.bg-light-grey {
  background-color: #d4d4d4;
}
.bg-light-yellow {
  background-color: #fdffa0;
}
.bg-light-brown {
  background-color: #ffdfcc;
}
.bg-light-red {
  background-color: #eca2a2;
}
.bg-light-red2 {
  background-color: #ffd2d2;
}

.shadow-box {
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(50, 50, 50, 0.33);
}

.round-avatar {
  border-radius: 12px;
  height: 24px;
  width: 24px;
}

.fixed-size-48x48 {
  height: 48px;
  width: 48px;
  min-height: 48px;
  min-width: 48px;
}
