= render('goggles/inline_mailer_styles')
.shadow-box
  = render('goggles/shared_mailer_title')
  %p.centered
    = t('.greeting', recipient: @resource.email)
    &nbsp;٩( ▀ ͜͞ʖ▀)۶
  %p= t('.message')
