%tr.table-info{ id: dom_id, class: @collapsed ? 'collapse' : '' }
  %td.text-muted.text-right{ colspan: 2 }
    %small.length-in-meters
      %i= @lap.length_in_meters
      - if Rails.env.development?
        &nbsp;ID: #{@lap.id}
  %td.text-right{ colspan: 2 }
    .container.row.px-0
      .col.px-0.delta-timing
        %small
          #{@lap.to_timing} Δ
      .col-1.px-0
        %small
          %i.fa.fa-long-arrow-right
      .col.px-0.timing-from-start
        %small
          #{@lap.timing_from_start} ⏱
