%tr.collapse{ id: dom_id }
  %td.text-muted.text-right{ colspan: 2 }
    %small
      %i= @lap.length_in_meters
  %td.text-left{ colspan: 2 }
    %small
      = @lap.to_timing.to_s
      &nbsp;
      %i.fa.fa-long-arrow-right
      &nbsp;
      #{@lap.timing_from_start} ⏱
