%tr.table-info{ id: dom_id, class: @collapsed ? 'collapse' : '' }
  %td.py-0.text-muted.text-right{ colspan: 2 }
    %small.length-in-meters
      %i= @lap.length_in_meters
  %td.py-0.text-right{ colspan: 2 }
    .delta-timing.text-left
      %small
        #{@lap.to_timing} Δ
        &nbsp;
        %i.fa.fa-long-arrow-right
        &nbsp;
        #{@lap.timing_from_start} ⏱
        -# - if Rails.env.development? && @lap.id.present?
        -#   &nbsp;Lap ID: #{@lap.id}
