%tbody.table.table-sm{ id: dom_id }
  - @laps.each do |lap|
    = render(Laps::TableRowComponent.new(lap:, collapsed: @collapsed))
  = render(Laps::TableRowComponent.new(lap: closing_result_lap, collapsed: @collapsed))
