!!!
%html
  %head
    %meta{ content: 'text/html; charset=utf-8', 'http-equiv' => 'Content-Type' }/
    %meta{ name: 'description', content: 'Master-Goggles mailer' }/
    %meta{ name: 'author', content: 'FASAR Software, Steve Alloro, 2012-2021' }/
    %title Master-Goggles.org
    = render('goggles/inline_mailer_styles')
  %body
    = yield
