!!!
%html
  %head
    %meta{ content: 'text/html; charset=utf-8', 'http-equiv' => 'Content-Type' }/
    /* Email styles need to be inline */
    = render('goggles/inline_mailer_styles')
  %body
    = yield
